body {
    padding : 1px;
    background-color : #303030;
    font-family: 'Lato', sans-serif;
    color : white;
}

.page {
    width : 1200px;
    heigth : 100%;
    margin : auto;
}

.game-elem {
    border-style: solid;
    border-color: #c34f4f;
    float : left;
    padding : 10px;
    background-color : #252525;
    margin : 10px 5px 10px 5px;
    width : 320px;
    max-width : 320px;
    max-height : 500px;
}

.game-elem img {
    max-width : 300px;
    max-height : 300px;
    padding : 25px 25px 5px 25px;
    margin-left : auto;
    margin-right : auto;
    display : block;
}

.game-elem img:hover {
    cursor : pointer
}

.game-info {
    text-align: center;
}

.game-info b {
    font-size : 22px;
}

.game-buttons {
    padding : 5px;
    text-align : center;
}

.game-buttons a {
    margin : 0 5px 0 5px;
}

.game-buttons button {
    margin : 0 5px 0 5px;
    width : 60px;
    background-color : #c34f4f;
    border : solid;
    border-color : #c34f4f;
}

.game-elem-modal {
    border-style: solid;
    border-color: #c34f4f;
    border-width : 10px;
    float : left;
    padding : 10px;
    background-color : #252525;
    margin : 10px 5px 10px 5px;
    width : 620px;
    max-width : 620px;
    max-height : 800px;
}

.game-elem-modal img {
    max-width : 600px;
    max-height : 600px;
    padding : 25px 25px 5px 25px;
    margin-left : auto;
    margin-right : auto;
    display : block;
}

.game-info-modal {
    text-align: center;
}

.game-info-modal b {
    font-size : 26px;
}


a {
    color : white;
}

a:hover {
    color : black;
}

a:visited {
    color : #303030;
}

.nav {
    height : 60px;
    width : 100%;
    margin : 0 auto;
    background-color : #c34f4f;
}

.nav-item {
    font-size: 30px;
    float : left;
    margin : 5px 12px 5px 12px;
    padding : 0 8px 0 8px;
    border-left : dotted;
    border-right : dotted;
}
.nav-item b:hover{
    font-weight : normal;
    cursor : pointer;
}

.nav-route-item {
    font-size: 30px;
    float : left;
    padding : 0 8px 0 8px;
    margin : 5px 12px 5px 12px;
    border-left : dotted;
    border-right : dotted;
}

.nav-route-item a {
    color : white;
    cursor : pointer;
}

.nav-route-item a:hover {
    text-decoration : none;
    font-weight : normal;
}

.nav-wrapper {
    margin-left : 24%;
}

.form {
    margin : 0 auto;
    text-align : center;
    width : 500px;
}

.header {
    height : 200px;
    border-left : solid;
    border-right : solid;
    border-top : solid;
    padding : 10px;
}

.header p {
    width : 500px;
    padding : 10px;
    margin-left : 29%;
    font-size : 100px;
    text-align: center;
}

#root__title {
    color : white;
}